/*------------------------------------*\
    #IMAGES
\*------------------------------------*/

/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 */
img{
    max-width: 100%; /* [1] */
    height: auto;
    font-style: italic; /* [2] */
}





// /**
//  * If a `width` and/or `height` attribute have been explicitly defined, let's
//  * not make the image fluid.
//  */
// img[width],
// img[height] {
//     max-width: none;
// }




/*------------------------------------*\
    #FIGURES AND CAPTIONS
\*------------------------------------*/
// @todo figure and figcaption
.wp-caption {
	width: auto;

	img {
		display: block;
	}
}

.wp-caption-text {
	font-size: 0.72222em;
	@include rhythm(margin-top, 1, 13px);
	color: $light;
}





/*------------------------------------*\
    #GALLERIES
\*------------------------------------*/
.gallery {
	@include rhythm(margin-left, -1);

	@include query-above($desk) {
		@include rhythm(margin-left, -6);
		@include rhythm(margin-right, -5);

		.archive &, .home &, .blog & {
			@include rhythm(margin-left, -1);
			margin-right: 0;
		}
	}

	.gallery-item {
		display: inline-block;
		vertical-align: top;

		text-align: center;
		border: 0 solid transparent;
		@include rhythm(border-top-width, 1);
		@include rhythm(border-left-width, 1);
	}
}

@for $i from 1 to 10 {
	.gallery-columns-#{$i} .gallery-item {
		width: percentage(1/$i);
	}
}
